html,
window {
    background-color: black;
    overflow: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

canvas[data-engine] {
    width: 100% !important;
    height: 100% !important;
}

#file_input {
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
    position: absolute;
}

.notyf {
    padding: 8px;
}