:root {
    --tp-font-family: 'Roboto Condensed', sans-serif;
    --tp-base-background-color: hsla(230, 20%, 11%, 1.00);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
    --tp-button-background-color: hsla(230, 10%, 80%, 1.00);
    --tp-button-background-color-active: hsla(230, 10%, 95%, 1.00);
    --tp-button-background-color-focus: hsla(230, 10%, 90%, 1.00);
    --tp-button-background-color-hover: hsla(230, 10%, 85%, 1.00);
    --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
    --tp-container-background-color: hsla(230, 25%, 16%, 1.00);
    --tp-container-background-color-active: hsla(230, 25%, 31%, 1.00);
    --tp-container-background-color-focus: hsla(230, 25%, 26%, 1.00);
    --tp-container-background-color-hover: hsla(230, 25%, 21%, 1.00);
    --tp-container-foreground-color: hsla(230, 10%, 80%, 1.00);
    --tp-groove-foreground-color: hsla(230, 20%, 8%, 1.00);
    --tp-input-background-color: hsla(230, 20%, 8%, 1.00);
    --tp-input-background-color-active: hsla(230, 28%, 23%, 1.00);
    --tp-input-background-color-focus: hsla(230, 28%, 18%, 1.00);
    --tp-input-background-color-hover: hsla(230, 20%, 13%, 1.00);
    --tp-input-foreground-color: hsla(230, 10%, 80%, 1.00);
    --tp-label-foreground-color: hsla(230, 12%, 48%, 1.00);
    --tp-monitor-background-color: hsla(230, 20%, 8%, 1.00);
    --tp-monitor-foreground-color: hsla(230, 12%, 48%, 1.00);
}

body.production .pane {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.production:hover .pane {
    opacity: 0.2;
}

body.production:hover .pane:hover {
    opacity: 1;
}

body.development .pane {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

body.development:hover .pane {
    opacity: 0.5;
}

body.development:hover .pane:hover {
    opacity: 1;
}

.pane.inspect {
    right: auto;
    left: 8px;
}

.pane.about {
    top: auto;
    bottom: 8px;
}

@media screen and (max-width: 600px) {
    .pane {
        display: none !important;
    }
}

@media screen and (max-height: 600px) {
    .pane {
        display: none !important;
    }
}